/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 14px;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
.questions h2,
.reviews h2,
.offer h2,
.prices h2,
.team h2,
.benefits h2,
.study h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-roboto-slab);
    padding: 2rem 0;
}

.questions summary,
.reviews__flex-item h3,
.offer__flex_right h3,
.offer h3,
.team__member_right h3,
.team__description,
.benefits__half h3,
.benefits__description,
.study__flex-item h3,
header h3 {
    color: #344767;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-roboto);
    margin-bottom: 1rem;
}

footer p,
.questions p,
.reviews__flex-item ul,
.reviews__flex-item p,
.offer p,
.prices p,
.team__member_right ul,
.benefits__half p,
.study__flex-item ul {
    color: #344767;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--font-roboto);
}

.offer__flex_right a,
.team a,
header a {
    display: inline-block;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-roboto);
    background-color: #2d86ec;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}
.offer__flex_right a:hover,
.team a:hover,
header a:hover {
    box-shadow: 0px 14px 34px -11px rgba(45, 134, 236, 0.8);
    transition: 0.3s;
}

header {
    width: 100%;
    background-image: url('../img/bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
header .header__links {
    display: flex;
    justify-content: left;
    gap: 2rem;
}
header .header__main {
    padding: 8rem 15%;
}
header h1 {
    margin-bottom: 1.5rem;
    max-width: 750px;
}
header h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 3rem;
    max-width: 700px;
}
@media (max-width: 760px) {
    header .header__main {
        padding: 8rem 10%;
    }
    header .header__links {
        flex-direction: column;
        max-width: 250px;
    }
    header h3 {
        font-size: 18px;
    }
}
.study {
    padding: 0 1rem;
    margin-bottom: 3rem;
}
.study h2 {
    color: #344767;
    text-align: center;
}
.study__flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.study__flex-item {
    width: 500px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.study__flex-item ul li {
    list-style: inside;
}

@media (max-width: 760px) {
    .study {
        padding: 0 0.5rem;
    }
}
.benefits {
    padding: 0 1rem;
    margin-bottom: 3rem;
}
.benefits h2 {
    color: #344767;
    text-align: center;
}
.benefits__description {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}
.benefits img {
    margin-bottom: 2rem;
}
.benefits__flex {
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.benefits__half_1 {
    max-width: 550px;
    min-height: 210px;
    margin-bottom: 3rem;
}

@media (max-width: 760px) {
    .benefits {
        padding: 0 0.5rem;
    }
    .benefits__flex {
        flex-direction: column;
        gap: 0;
    }
    .benefits__description {
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}
.team {
    background: linear-gradient(
        90deg,
        rgb(48, 48, 52) 0%,
        rgb(64, 64, 71) 100%
    );
    padding: 1rem;
}
.team__description {
    font-weight: 500;
    color: white;
    max-width: 800px;
    text-align: center;
    margin: 0 auto 5rem;
}
.team__polina_a {
    margin: auto 2rem auto 0;
}
.team__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 2rem auto 0;
    gap: 2rem;
}
.team h2 {
    text-align: center;
}
.team a {
    text-align: center;
}
.team__member {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto 5rem;
    border-radius: 20px;
    background-color: white;
}
.team__member:last-child {
    margin-bottom: 7rem;
}
.team__member img {
    width: 250px;
    height: 250px;
    margin: -3rem 0 0 1rem;
    padding: 1rem;
    border-radius: 30px;
}
.team__member_right {
    padding: 2rem;
    width: 100%;
    max-width: 600px;
}
.team__member_right h3 {
    margin-bottom: 0;
}
.team__member_right ul {
    font-weight: 700;
}
.team__member_right ul li {
    list-style: inside;
    font-weight: 300;
}
.team__member_sign {
    color: #2d86ec !important;
    font-weight: 700 !important;
    margin-bottom: 1rem;
}

@media (max-width: 760px) {
    .team {
        padding: 0.5rem;
    }
    .team__member {
        flex-direction: column;
        max-width: 400px;
        text-align: center;
    }
    .team__member_right {
        padding: 0 1rem;
    }
    .team__member img {
        margin: -3rem auto 0;
    }
    .team__member ul {
        text-align: left;
    }
    .team__polina_a {
        margin: 0 auto 1rem;
    }
    .team__btn {
        margin: 0 auto 1rem;
        gap: 1rem;
    }
}
.prices {
    background: white;
    padding: 0 0 2rem;
}
.prices h2 {
    text-align: center;
}
.prices__info {
    height: 150px;
    width: 100%;
    background-image: url('../img/bgprice.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2rem;
}
.prices__group {
    height: 150px;
    width: 100%;
    background-image: url('../img/bgprice2.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.prices p {
    color: white;
    text-align: center;
}
.prices img {
    max-width: 300px;
    margin: -3rem 0 0;
}
.prices__flex1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: -2rem 0 3rem;
}
.prices__flex2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 760px) {
    .prices__flex1 {
        flex-direction: column;
        align-items: center;
    }
    .prices__flex1 img {
        margin: -2rem 0 0;
    }
    .prices__flex1 img:first-child {
        margin-bottom: 2rem;
    }
    .prices__flex2 {
        flex-direction: column;
        align-items: center;
    }
    .prices__flex2 img {
        margin: -2rem 0 0;
    }
    .prices__flex2 img:first-child {
        margin-bottom: 2rem;
    }
    .prices__info {
        height: 200px;
    }
    .prices__group {
        height: 200px;
    }
}
.offer {
    background: #2d86ec;
    border-radius: 0 0 20px 20px;
    padding: 0 1rem 2rem;
}
.offer h2 {
    padding: 3rem 0 0;
    margin: 0;
}
.offer p {
    color: white;
    margin-bottom: 2rem;
}
.offer h3 {
    color: white;
}
.offer__flex {
    display: flex;
    justify-content: space-around;
    color: white;
}
.offer__flex_left {
    display: flex;
    flex-wrap: wrap;
}
.offer__flex_left-item {
    width: 50%;
    font-weight: 300;
    font-family: var(--font-roboto);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.offer__flex_left img {
    display: inline;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}
.offer__flex_right {
    text-align: center;
    margin: auto 0;
}
.offer__flex_right h3 {
    margin-bottom: 1rem;
    font-weight: 400;
}
.offer__flex_right a {
    background-color: white;
    color: #2d86ec;
    display: inline-block;
    font-size: 16px;
}
.offer__flex_right a:hover {
    box-shadow: 0px 14px 34px -11px rgba(219, 236, 255, 0.8);
    transition: 0.3s;
}

@media (max-width: 760px) {
    .offer {
        padding: 0 0.5rem 2rem;
        text-align: center;
    }
    .offer__flex {
        margin: 0 1rem;
        flex-direction: column;
    }
    .offer__flex_left {
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    .offer__flex_left-item {
        width: 80%;
    }
}
.reviews {
    padding: 0 1rem 3rem;
    background: linear-gradient(
        90deg,
        rgb(48, 48, 52) 0%,
        rgb(64, 64, 71) 100%
    );
}
.reviews h2 {
    text-align: center;
}
.reviews__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.reviews__flex-item {
    background-color: white;
    width: 45%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
}
.reviews__flex-item p {
    margin-bottom: 2rem;
}
.reviews__flex-item ul {
    margin-bottom: 1rem;
    color: #2d86ec;
    font-weight: 700;
}
.reviews__flex-item ul li {
    color: #344767;
    font-weight: 300;
}
.reviews__flex-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media (max-width: 760px) {
    .reviews {
        padding: 0 0.5rem 2rem;
    }
    .reviews__flex {
        flex-direction: column;
    }
    .reviews__flex-item {
        width: 95%;
        margin: 0 auto;
    }
}
.questions {
    margin: 0 20px 3rem;
    padding: 2rem;
}
.questions h2 {
    color: #344767;
    text-align: center;
}
.questions details {
    display: block;
    background: white;
    max-width: 100%;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 3rem 2rem;
}
.questions summary::-webkit-details-marker {
    display: none;
}
.questions summary::-moz-list-bullet {
    list-style-type: none;
}
.questions summary::marker {
    display: none;
}
.questions summary {
    display: block;
    padding: 1em 2em 1em 0.9em;
    border-bottom: 1px solid #e2e8f0;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
.questions summary:before {
    top: 0.4em;
    right: 0.3em;
    color: transparent;
    width: 1em;
    height: 1em;
    content: '';
    position: absolute;
    transition: transform 0.5s;
}
.questions details[open] > summary:before {
    transform: scale(1, -1);
}
.questions summary ~ * {
    padding: 1em;
}
.questions details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.questions summary:focus {
    outline: 0;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3),
        inset 0 0 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .questions p {
        font-size: 12px;
    }
    .questions summary {
        font-weight: 600;
    }
}
footer {
    padding: 0 5rem 3rem;
}
footer p {
    text-align: center;
}
footer .footer__email {
    display: block;
    text-align: center;
}
footer .footer__email a {
    color: #344767;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboto) Slab, var(--font-roboto);
    background-color: #edeff2;
}

h1 {
    font-family: var(--font-roboto) Slab;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

main {
    background-color: #fcfcfd;
    margin: 0 1rem;
    border-radius: 20px;
}

.page {
    margin: 0 auto;
    max-width: 1920px;
    padding-bottom: 3rem;
}

@media (max-width: 760px) {
    main {
        margin: 0 0.5rem;
    }
    h1 {
        font-family: var(--font-roboto) Slab;
        font-weight: 700;
        font-size: 26px;
        color: white;
    }
    .study h2,
    .benefits h2,
    .team h2,
    .prices h2,
    .offer h2,
    .reviews h2,
    .questions h2 {
        font-size: 26px;
    }
    header h3,
    .study__flex-item h3,
    .benefits__description,
    .benefits__half h3,
    .team__description,
    .team__member_right h3,
    .offer h3,
    .offer__flex_right h3,
    .reviews__flex-item h3,
    .questions summary {
        font-size: 18px;
    }
}
